/* skip */
.skip a {
  position: absolute;
  top: -44px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  background: #000;
}

.skip a:focus {
  top: 0;
}

/* main layouot */
.main_wrap {
  overflow: hidden;
  height: 350px;
  margin-bottom: 50px;
}

.main_wrap::after {
  content: '';
  display: block;
  clear: both;
}

.main_slide {
  float: left;
  width: 770px;
  height: 100%;
}

.main_times-square {
  float: right;
  width: 360px;
}

.main_board::after {
  content: '';
  display: block;
  clear: both;
}

.main_seoul-banner {
  margin: 35px 0 50px;
}

.main_event {
  float: left;
  width: 360px;
  margin-right: 36px;
}

.main_sub-service {
  float: left;
  width: 360px;
}

.main_info {
  padding: 40px 0;
  margin-top: 50px;
  border-top: 2px solid #222;
}

.main_news {
  margin-bottom: 30px;
}

.main_seoul-video {
  float: left;
  width: 280px;
  margin-right: 20px;
}

.main_seoul-news {
  float: left;
  width: 480px;
}

.main_seoul-sns {
  float: right;
  width: 350px;
}

.main_banner {
  padding: 50px 0 85px 0;
  margin-top: 50px;
  border-top: 2px solid #222;
}

.main_site {
  margin-bottom: 18px;
}

/* section common */
.section_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.35em;
}

/* visual */
.visual {
  position: relative;
  height: 100%;
}

.visual_tab {
  display: block;
  position: absolute;
  left: 0;
  width: 80px;
  height: 50%;
  padding-top: 4px;
  background-color: #d2e1e9;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  z-index: 10;
}

.visual_tab::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: url(../imgs/sp_icon_2.png) no-repeat #fff;
}

.visual_tab.ico-join {
  top: 50%;
}

.visual_tab.ico-join::before {
  background-position: -50px 0;
}

.visual_panel {
  display: none;
  overflow: hidden;
  margin-left: 80px;
  width: 690px;
}

.visual_slider.active .visual_tab {
  background-color: #0158a8;
  color: #fff;
}

.visual_slider.active .visual_tab::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  border-width: 25px 0 25px 32px;
  border-style: solid;
  border-color: transparent transparent transparent #0158a8;
  margin-top: -25px;
}

.visual_slider.active .visual_panel {
  display: block;
}

.visual_link {
  display: block;
  position: relative;
}

.visual_link img {
  width: 100%;
}

.visual_link p {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding: 0 120px 0 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  white-space: nowrap;
  line-height: 40px;
}

.visual .slide-control {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.visual .pagination {
  float: left;
  position: relative;
  padding-right: 16px;
  margin-right: 4px;
  color: #fff;
  font-size: 13px;
}

.visual .pagination::after {
  content: '';
  position: absolute;
  top: -4px;
  right: 0;
  width: 1px;
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
}

.visual .pagination li {
  display: none;
  line-height: 18px;
}

.visual .pagination li.slick-active {
  display: block;
}

.visual_btn {
  float: left;
  margin: 0 1px;
}

.visual_btn::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
}

.visual_btn.prev {
  cursor: pointer;
}

.visual_btn.prev::after {
  background-position: -241px -285px;
}

.visual_btn.pause {
  cursor: pointer;
}

.visual_btn.pause::after {
  background-position: -284px -285px;
}

.visual_btn.start {
  display: none;
}

.visual_btn.start::after {
  background-position: -269px -285px;
}

.visual_btn.next::after {
  background-position: -256px -285px;
}

/* corona */
.corona {
  position: relative;
}

.corona_link {
  display: block;
  height: 129px;
  background: url(../imgs/bg_corona.jpg) no-repeat top center;
}

.corona_date {
  position: absolute;
  top: 9px;
  right: 20px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-left: 25px;
}

.corona_item {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
}

.corona_item + .corona_item {
  left: auto;
  right: 20px;
}

.corona_item em {
  display: block;
  width: 161px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.09em;
  text-align: center;
}

/* vaccin */
.vaccin {
  position: relative;
}

.vaccin_link {
  display: block;
  height: 85px;
  background: url(../imgs/bg_corona.jpg) no-repeat bottom center;
}

.vaccin_date {
  position: absolute;
  top: 6px;
  right: 20px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-left: 25px;
}

.vaccin_item {
  position: absolute;
  bottom: 9px;
  left: 20px;
  color: #fff;
}

.vaccin_item:nth-of-type(2) {
  left: 102px;
}

.vaccin_item:nth-of-type(3) {
  left: 185px;
}

.vaccin_item:nth-of-type(4) {
  left: 268px;
}

.vaccin_item em {
  display: block;
  width: 72px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* mayor */
.mayor {
  position: relative;
  height: 130px;
  margin-top: 7px;
  background: url(../imgs/img_mayor.jpg) no-repeat;
}

.mayor_link {
  display: block;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.mayor_link::after {
  content: '';
  display: block;
  width: 101px;
  height: 30px;
}

.mayor_link.img-want::after {
  background: url(../imgs/img_mayor_01.png) no-repeat;
}

.mayor_link.img-promise {
  left: 119px;
}

.mayor_link.img-promise::after {
  background: url(../imgs/img_mayor_02.png) no-repeat;
}

/* main-service */
.main-service {
  position: relative;
}

.main-service ul {
  display: table;
  width: 100%;
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #dbdbdb;
}

.main-service li {
  display: table-cell;
}

.main-service_link {
  display: block;
  font-size: 15px;
  text-align: center;
}

.main-service_link::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 8px;
  background: url(../imgs/sp_icon_1.png) no-repeat;
}

.main-service_link.ico-publice::before {
  background-position: -360px 0;
}

.main-service_link.ico-answer::before {
  background-position: 0 0;
}

.main-service_link.ico-job::before {
  background-position: -120px 0;
}

.main-service_link.ico-realestate::before {
  background-position: -300px 0;
}

.main-service_link.ico-study::before {
  background-position: -180px 0;
}

.main-service_link.ico-welfare::before {
  background-position: -960px 0;
}

.main-service_link.ico-house::before {
  background-position: -780px 0;
}

.main-service_link.ico-town::before {
  background-position: -840px 0;
}

.main-service_link.ico-mediahub::before {
  background-position: -1020px 0;
}

.main-service_link.ico-ebook::before {
  background-position: -1080px 0;
}

.main-service_link.ico-council::before {
  background-position: -600px 0;
}

.main-service_link-more {
  position: absolute;
  top: 0px;
  right: 0;
  width: 110px;
  height: 27px;
  border: 1px solid #ddd;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}

.main-service_link-more::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 11px;
  margin-left: 11px;
  background: url(../imgs/ico_arw_right.png) no-repeat;
}

/* seoul-banner */
.seoul-banner {
  padding: 20px 0;
  background: #eff4f8;
}

.seoul-banner ul::after {
  content: '';
  display: block;
  clear: both;
}

.seoul-banner li {
  float: left;
  position: relative;
  width: 25%;
}

.seoul-banner li + li::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 60px;
  top: 5px;
  left: 0;
  background: #dbdbdb;
}

.seoul-banner_link {
  display: block;
}

/* event */
.event {
  position: relative;
}

.event ul {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 2px solid #dbdbdb;
}

.event li {
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  white-space: nowrap;
}

.event_cate {
  margin-right: 9px;
  font-size: 15px;
}

.event_cate.cate-house {
  color: #c35c3c;
}

.event_cate.cate-environment {
  color: #599100;
}

.event_cate.cate-culture {
  color: #9b64d3;
}

.event_cate.cate-welfare {
  color: #d76000;
}

.event_cate.cate-work {
  color: #028ab6;
}

.event_link {
  font-size: 15px;
}

.event_link-more {
  position: absolute;
  top: 6px;
  right: 0;
}

.event_link-more::after {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  border: 1px solid #ddd;
  background-position: -1px -1px;
}

/* sub-service */
.sub-service ul {
  padding: 17px 5px 7px 20px;
  margin-top: 5px;
  background: #eff4f8;
}

.sub-service ul::after {
  content: '';
  display: block;
  clear: both;
}

.sub-service li {
  float: left;
  position: relative;
  width: 50%;
  padding-left: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.sub-service li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px;
  height: 2px;
  background: #666666;
  margin-top: -1px;
}

.sub-service_link {
  display: block;
  width: 94%;
  color: #333;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  white-space: nowrap;
}

/* info */
.info ul {
  padding: 20px 29px 0;
}

.info ul::after {
  content: '';
  display: block;
  clear: both;
}

.info li {
  float: left;
  width: 85px;
}

.info li + li {
  margin-left: 59px;
}

.info_link {
  display: block;
  text-align: center;
}

.info_link::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

.info_link.ico-house::before {
  background-image: url(../imgs/ico_house.png);
}

.info_link.ico-economy::before {
  background-image: url(../imgs/ico_economy.png);
}

.info_link.ico-traffic::before {
  background-image: url(../imgs/ico_traffic.png);
}

.info_link.ico-environment::before {
  background-image: url(../imgs/ico_environment.png);
}

.info_link.ico-welfare::before {
  background-image: url(../imgs/ico_welfare.png);
}

.info_link.ico-safty::before {
  background-image: url(../imgs/ico_safty.png);
}

.info_link.ico-culture::before {
  background-image: url(../imgs/ico_culture.png);
}

.info_link.ico-work::before {
  background-image: url(../imgs/ico_work.png);
}

/* news */
.news ul {
  margin: 20px -10px 0;
}

.news ul::after {
  content: '';
  display: block;
  clear: both;
}

.news li {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.news_link {
  display: block;
}

.news_link .figure {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.news_link .cate {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 82px;
  height: 32px;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  z-index: 10;
}

.news_link .cate-house {
  background: #c35c3c;
}

.news_link .cate-environment {
  background: #599100;
}

.news_link .cate-culture {
  background: #9b64d3;
}

.news_link .cate-welfare {
  background: #d76000;
}

.news_link img {
  width: 100%;
  min-height: 188px;
  transition: 0.3s ease-in-out;
}

.news_link p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 3em;
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.news_link:hover img {
  transform: scale(1.1);
}

.news_link_corona:hover img {
  transform: scale(1);
}

/* seoul-video */
.seoul-video_item {
  margin-top: 11px;
}

.seoul-video_link {
  display: block;
  position: relative;
}

.seoul-video_link .figure {
  overflow: hidden;
  height: 152px;
}

.seoul-video_link .figure img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.seoul-video_link p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 11px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  white-space: nowrap;
}

.seoul-video_link:hover .figure img {
  transform: scale(1.1);
}

/* seoul-news */
.seoul-news ul {
  margin-top: 11px;
}

.seoul-news li {
  padding: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  white-space: nowrap;
  line-height: 22px;
}

.seoul-news_link-cate {
  margin-right: 18px;
  color: #09ac43;
}

.seoul-news_link-title {
  color: #555;
}

/* seoul-sns */
.seoul-sns {
  position: relative;
  height: 194px;
  background: url(../imgs/bg_sns.jpg) no-repeat center;
}

.seoul-sns_title {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 22px;
}

.seoul-sns_title::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 1px solid #878787;
  vertical-align: -4px;
  background: url(../imgs/sp_sns_01.png) no-repeat -247px 0;
}

.seoul-sns_link-seoul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seoul-sns ul {
  position: absolute;
  top: 93px;
  left: 50%;
  margin-left: -135px;
  z-index: 10;
}

.seoul-sns li {
  display: inline-block;
}

.seoul-sns_link {
  display: block;
}

.seoul-sns_link::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 1px;
  background: url(../imgs/sp_sns_01.png) no-repeat;
}

.seoul-sns_link.ico-ist::after {
  background-position: 0 0;
}

.seoul-sns_link.ico-fb::after {
  background-position: -40px 0;
}

.seoul-sns_link.ico-tw::after {
  background-position: -80px 0;
}

.seoul-sns_link.ico-nbg::after {
  background-position: -120px 0;
}

.seoul-sns_link.ico-ytb::after {
  background-position: -160px 0;
}

.seoul-sns_link.ico-kks::after {
  background-position: -200px 0;
}

/* banner */
.banner {
  position: relative;
}

.banner_slider {
  overflow: hidden;
}

.banner .slide-wrap {
  margin: 0 -21px;
}

.banner .slide-item {
  text-align: center;
}

.banner .slide-item a {
  display: inline-block;
}

.banner_control {
  position: absolute;
  right: 0;
  margin-top: 5px;
}

.banner .pagination {
  float: left;
  bottom: 0;
  width: auto;
  margin-right: 5px;
  font-size: 14px;
}

.banner .pagination li {
  display: none;
}

.banner .pagination li.slick-active {
  display: block;
}

.banner_btn {
  float: left;
}

.banner_btn + .banner_btn {
  margin-left: -1px;
}

.banner_btn::after {
  content: '';
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  background: url(../imgs/sp_common.png) no-repeat;
}

.banner_btn.prev::after {
  background-position: -45px -43px;
}

.banner_btn.pause::after {
  background-position: -65px -44px;
}

.banner_btn.start {
  display: none;
}

.banner_btn.start::after {
  background-position: -101px -43px;
}

.banner_btn.next::after {
  background-position: -86px -43px;
}

/* site */
.site {
  position: relative;
}

.site > ul {
  border: 1px solid #d0d0d0;
}

.site > ul::after {
  content: '';
  display: block;
  clear: both;
}

.site > ul > li {
  float: left;
  width: 33.3333%;
  box-sizing: border-box;
}

.site > ul > li + li {
  border-left: 1px solid #d0d0d0;
}

.site-tab {
  display: block;
  width: 100%;
  height: 50px;
  background: #f7f7f7;
  color: #333;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}

.site-tab::after {
  content: '';
  display: inline-block;
  top: 8px;
  right: 0px;
  height: 7px;
  width: 7px;
  margin-left: 10px;
  vertical-align: -2px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #373737;
  transform: rotate(-135deg);
  transform-origin: center center;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.site-tab.active::after {
  vertical-align: 2px;
  transform: rotate(45deg);
}

.site-panel {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  padding: 10px 20px 20px;
  background: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  z-index: 10;
}

.site-panel ul::after {
  content: '';
  display: block;
  clear: both;
}

.site-panel li {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.site-panel_link {
  color: #555;
  font-size: 14px;
}
