@mixin el($line : 1, $lh: inherit) {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lh;
  
  @if ($line == 1) {
    white-space: nowrap; 
  } @else if($line > 1){
    height: $lh * $line;
    max-height: $lh * $line;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;    
  }
}

@mixin cf {
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}