/* font */
@font-face {
  font-family: 'NanumGothic';
  src: url("../font/NanumGothicBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src: url("../font/NanumGothic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// common
.blind{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0,0,0,0);
}

// 스프라이트
.logo a, .header .search_submit, .tel, .event_link-more,
.visual .visual_btn.prev::after, .visual .visual_btn.pause::after,.visual .visual_btn.start::after, .visual .visual_btn.next::after{
  background-image: url(../imgs/sp_common.png);
  background-repeat: no-repeat;
}

